/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../images/22-min.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 200px;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}
/* General styles for the three sections */
.mission-box,
.vision-box,
.policy-box {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* White background with slight transparency */
  padding: 20px;
  margin-bottom: 30px; /* Spacing between sections */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Light shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.mission-box:hover,
.vision-box:hover,
.policy-box:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

h2 {
  text-align: center;
  color: #000000;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #000000;
  line-height: 1.6;
  text-align: center;
}
ul {
  text-align: center;
}
.icon {
  font-size: 40px;
  color: #2980b9;
  text-align: center;
  margin-bottom: 15px;
}

.timeline {
  margin-top: 20px;
  padding: 10px;
  border-left: 2px solid #2980b9;
}

.event {
  margin-left: 20px;
  padding: 5px 0;
}

.event span {
  font-weight: bold;
  color: #2980b9;
}

.gallery {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.gallery img {
  width: 30%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}
